<!DOCTYPE html>
<html lang="pt">

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      }
    });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

  {% include head.html %}

    <body>
      <div class="container">

        {% include header.html %}

        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <main>
            {{ content }}
            </main>
          </div>
        </div>

        {% include footer.html %}

      </div>
    </body>
    </body>
</html>
