{%include head.html%}

<body>

    <div class="container content">

            {% assign split_slug = page.slug | split: "-" %}
            <div class="term"><a href="/"><p class="term-user">carter@website</p></a> <p class="term-path">~/ $</p> <p class="term-cat">cat {{split_slug[0]}}.txt</p></div>

            <hr>
    
        <h1>{{page.title}}</h1>
        <br>

        


        <!-- CLI -->
        <div class="md-content">
            {{content}}
        </div>

    </div>

    {%include footer.html%}
</body>